/*Default settings*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*header*/
header {
  background-color: white;
}
#logo {
  margin: 6px;
}
h1 {
  display: inline-block;
}
/*Main*/
body {
  background-color: rgb(190, 188, 188);
}
/*Top container*/
#top-container {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  background-color: white;
  padding: 20px;
}
#section-color {
  background-color: white;
  color: gray;
}
#task-color {
  background-color: #007fff;
  color: white;
}
.button-square {
  border: 2px solid gray;
  border-radius: 15%;
  padding: 8px 15px;
}
/*Container*/
#container {
  width: 50%;
  margin: auto;
  margin-top: 1px;
  background-color: white;
  padding: 20px 50px;
}
h2 {
  margin-bottom: 8px;
}
h2:before {
  content: "\25BC";
  font-size: 15px;
  margin-right: 4px;
}
.button-round {
  border: 2px solid gray;
  border-radius: 40%;
  padding: 8px 15px;
  margin: 5px;
}
li {
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
}
.positive {
  color: green;
  font-size: 15px;
  margin: 10px;
}
.negative {
  color: red;
  font-size: 15px;
  margin: 8px;
}
/*Button color in list*/
.editorial-color {
  background-color: #007fff;
}
#goals-color {
  background-color: purple;
}
#recruiting-color {
  background-color: green;
}
#mobile-color {
  background-color: orange;
}
#website-color {
  background-color: pink;
}
#sales-color {
  background-color: greenyellow;
}
